{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<link href="{% static 'css/reglogin.css' %}" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="main">
		<div class="header" >
			<h1>Login!</h1>
		</div>
		<p></p>
			<form action="{% url 'acc_login' %}" method="post">
				<ul class="right-form">
					<h2>Login:</h2>
					<li><input name="username" type="text" placeholder="Username" required/></li>
					<li><input name="password" type="password" placeholder="Password" required/></li>
					<input type="submit" value="Login" >
					<div class="clear"> </div>
				</ul>
				<div class="clear"> </div>
                <input type="hidden" name="next" value="{{ req.GET.next }}">
                {% csrf_token %}
			</form>
	</div>
    <div style="display: none">{{ log_err }}</div>
<script type="text/javascript">
    var err = '{{ log_err }}'
    if (err) {
        alert(err)
    }
</script>
</body>
</html>